@import 'https://fonts.googleapis.com/css?family=PT+Sans';

* {
	font-family: 'PT Sans', sans-serif;
}

body {
	margin: 0;
	padding: 0;
	width: 250px;
}

div {
	font-size: 15px;
	padding: 3px;
	text-align: left;
	font-family: Lucida Sans Unicode;
}

#settings {
	background-color: rgba(0, 0, 0, 0.5);
	width: 250px;
	margin:3px;
	user-select: none;
	color: white;
	padding: 6px;
	border-radius: 5px;
}

#settings p {
	margin: 0;
}

textarea {
	font-family: monospace;
}

#library {
	margin-top: 10px;
	margin-bottom: 10px;
}

#library p {
	margin: 0;
}

#library p:hover {
	cursor: pointer;
	color: #4dffff;
}

#library h4 {
	margin: 0;
}

#iterations {
	width: 45px;
	margin-bottom: 10px;
}

#line-color {
	margin-bottom: 10px;
}

#toggle-ui:hover {
	cursor: pointer;
}

.btn {
	font-size: 13px;
	display: inline-block;
	background-color: rgba(0,0,0, 0.4);
	width: 200px;
	color: white;
	padding: 5px;
	padding-right: 15px;
	padding-left: 15px;
	border: none;
	border-radius: 5px;
}

.btn:hover {
	cursor: pointer;
	background-color: rgba(0,0,0,0.55);
}

#error-message {
	color: #ff9999;
	/* text-shadow: 0 0 14px #ffffff; */
}

#err-wrapper {
	background-color: rgba(0,0,0, 0.4);
}

#generate {
	margin-top: 10px;
	margin-bottom: 10px;
}

h4 {
	font-size: 17px;
}

a {
	color: #1affff;
}